.navbar {
  .search-form {
    width: 400px;
    .input-group {
      width: 100%;
    }
  }

  .signup-btn {
    margin-left: auto;
  }
}

.main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .row {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 4.5rem;
    margin-right: 0;
    margin-left: 0;
  }
}

.map-col {
  position: relative;

  .map {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
  }
}

.sidebar-col {
  position: relative;

  .sidebar {
    overflow-y: scroll;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    .sidebar-section {
      padding: 1rem;
    }
  }
}
