.navbar {
  .search-form {
    width: 400px;
    position: relative;

    .input-group {
      width: 100%;
    }

    .search-suggestions {
      width: 80%;
      box-sizing: border-box;
      position: absolute;
      top: 3rem;
      left: 0.5rem;
      border-radius: 0 0 0.25rem 0.25rem;
      overflow: hidden;

      .suggestion {
        background: #FFFFFF;
        color: #383838;
        font-weight: 300;
        padding: 1rem;
        border-bottom: 1px solid #ededed;

        &:hover {
          background: #d8d8d8;
          transition: 0.25s all;
          cursor: pointer;
        }
      }
    }
  }

  .signup-btn {
    margin-left: auto;
  }
}

.main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .row {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 4.5rem;
    margin-right: 0;
    margin-left: 0;
  }
}

.map-col {
  position: relative;

  .map {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
  }
}

.sidebar-col {
  position: relative;

  .sidebar {
    overflow-y: scroll;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    .sidebar-section {
      padding: 1rem;

      h2 {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #d3d3d3;
      }
    }

    .concerns {
      h3 {
        font-size: 1.5rem;
      }
    }
  }
}

.table-container {
  max-height: 200px;
  overflow-y: scroll;
  border: 1px solid #ededed;
  margin-bottom: 2rem;
}
